body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, section, footer {
    margin: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  #cv-section, #lm-section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    color: #777;
  }
  